<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datei bearbeiten - [[${fileName}]]</title>
	<link rel="stylesheet" th:href="@{'/css/' + ${theme}}">
	<link rel="icon" href="/img/logo.png" type="image/png">
	<link rel="stylesheet" th:href="@{'/css/' + ${theme} + '-sidebar.css'}">
</head>
<body>
<header>
    <h1>Datei bearbeiten: <span th:text="${fileName}"></span></h1>
</header>

<div th:replace="fragments/sidebar :: sidebar"></div>

<section style="margin-top:20px;">
    <form th:action="@{/filemanager/save}" method="post">
        <input type="hidden" name="fileName" th:value="${fileName}" />
        <textarea name="content" rows="25" style="width: 100%; background-color:#1e1e2f; color:#ddd; border: 1px solid #4a90e2; border-radius: 6px; padding: 10px; font-family: monospace;" required
                  th:text="${content}"></textarea>
        <br/><br/>
        <button type="submit" class="button-login">Speichern</button>
        <a href="/filemanager" style="margin-left:15px; color:#4a90e2;">Abbrechen</a>
    </form>
</section>
<script src="/js/sidebar.js"></script>
</body>
</html>
