<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SysStatz – Willkommen</title>
	<link rel="icon" href="/img/logo.png" type="image/png">
	<link rel="stylesheet" th:href="@{'/css/' + ${theme}}">
</head>
<body>

    <header class="header">
		<p>
		  <img src="/img/logo.png" alt="SysStatz Logo" style="height: 5em; vertical-align: middle; margin-right: 5px;">
		  Serverüberwachung einfach gemacht
		</p>
    </header>

    <main class="main-content">
        <section class="login-section">
            <h2>Login</h2>
            <p>Bitte melden Sie sich an, um auf Ihr Dashboard zuzugreifen.</p>
            <a th:href="@{/login}" class="button-login">Jetzt einloggen</a>
        </section>
    </main>

    <footer class="footer">
        <h3>Hilfe & Dokumentation</h3>
        <p>Weitere Anleitungen und Informationen folgen in Kürze.</p>
    </footer>

</body>
</html>
